<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fattura</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto' rel='stylesheet' type='text/css'>

    <style>
      html, body{
        margin: 0;
        padding: 0;
      }

      header{
        background-color: #8B7D80;
        text-align: center;
        padding: 16px;
        margin-bottom: 32px;
      }

      h1, h2, h3{
        font-family: 'Oswald', sans-serif;
        margin: 0;
      }

      h4, h5, p, small, th, td{
        font-family: 'Roboto', sans-serif;
        margin: 0;
      }

      table{
        border-collapse: collapse;
      }

      thead{
        background: #8B7D80;
        color: #FFFFFF;
        text-align: left;
      }

      th{
        background: #8B7D80;
        color: #FFFFFF;
      }

      td{
        min-width: 64px;
      }

      th, td{
        padding: 8px;
      }

      .margin_small{margin-bottom:8px}
      .margin_medium{margin-bottom:16px}
      .margin_large{margin-bottom:32px}
      .fullwidth{width: 100%}
      .text-right{text-align: right}

      .header__logo{
        height: 96px;
      }

      .info{
        text-align: right;
        padding: 0 64px;
      }

      .client{
        text-align: left;
        padding: 0 64px;
        overflow: auto;
      }

      .products{
        text-align: left;
        padding: 64px;
      }

      .privacy{
        text-align: left;
        padding: 64px;
        font-size: 10px;
      }

      .privacy h5{
        font-size: 14px;
      }

      .footer{
        overflow: hidden;
      }

      .footer table{
        margin-right: 64px;
        text-align: right;
        border-collapse: separate;
        border-spacing: 4px;
      }

      .footer tr{
        margin-bottom: 8px;
      }

    </style>
  </head>
  <body>
    <header>
      <img class="header__logo" src="{{result.logo}}" alt="Logo LocalToYou" />
      <p style="color: white;position: absolute;top: 50px;font-size: 20px;right: 24px;">Bolla</p>
    </header>

    <section class="info">
      <h3 class="margin_small">Bolla # {{result.id}}</h3>
      <small>{{result.data}}</small>
    </section>

    <section class="client">
      <article style="float:left; width:50%">
        <h3 class="margin_medium">Local To You S.r.l.</h3>
        <h4 class="margin_small">C.F./P.IVA 03538051206</h4>
        <p>Via Galileo Galilei, 24</p>
        <p class="margin_small">Mercatale di Ozzano dell'Emilia, 40064 (BO)</p>
        <p>Dati N.S. Banca: BCC Romagna Occidentale</p>
        <p class="margin_small">IT 54 D 08462 36750 000005028897</p>
        <p>Tel. 051 6515236</p>
        <p>Fax. 051 6515124</p>
        <p>info@localtoyou.it</p>
        <p>www.localtoyou.it</p>
      </article>
      <article style="float:right; width:50%">
        <h3 class="margin_medium">Cliente</h3>
        <h4 class="margin_small">{{result.cliente}}</h4>
        <h4 class="margin_small">{{result.piva}}</h4>
        <p>{{result.indirizzoR1}}</p>
        <p>{{result.indirizzoR2}}</p>
      </article>
    </section>

    <section class="products">
      <table class="fullwidth">
        <thead>
          <th>Prodotto</th>
          <th>Produttore</th>
          <th class="text-right">Prezzo + IVA</th>
          <th class="text-right">Prezzo no IVA</th>
          <th class="text-right">Quantità</th>
          <th class="text-right">Unità</th>
        </thead>
        {{#each result.prodotti}}

          <tr>
            <td>{{this.nome}}</td>
            <td>{{this.produttore}}</td>
            <td class="text-right">{{this.prezzoIva}}€</td>
            <td class="text-right">{{this.prezzo}}€</td>
            <td class="text-right">{{this.quantita}}</td>
            <td class="text-right">{{this.unita}}</td>
          </tr>

        {{/each}}

      </table>
    </section>

    <section class="footer">
      <table align="right" style="text-align:left">
        <tr>
          <th>Totale IVA inclusa</th>
          <td>{{result.totaleivato}}€</td>
        </tr>
        <tr>
          <th>Totale IVA esclusa</th>
          <td>{{result.totale}}€</td>
        </tr>
        <tr>
          <th>Tipo di pagamento</th>
          <td>Bonifico</td>
        </tr>
        <tr>
          <th>Scadenza</th>
          <td>30gg a partire dalla data di ordine</td>
        </tr>
      </table>
    </section>

    <section class="privacy">
      <h5>Prodotto da Agricoltura Biologica</h5>
      <h5>Certificato in base al REG. 834/07 - Operatore</h5>
      <h5>Controllato: IT BIO006 H127</h5>
      <h5>Peso da verificare a destinazione</h5>
      <h5 class="margin_small">Assolve gli obblighi di cui all’art.62, comma 1, del decreto legge 24.01.2012, n.1, convertito, con modificazioni, dalla legge 24.03.2012, n.27</h5>
      <p>Informativa art. 13, d. lgs. 196/2003. I dati personali raccolti saranno trattati, anche elettronicamente e senza particolari criteri di elaborazione, da La Fraternità Società Coop. Soc. a.r.l. - titolare del trattamento sono gli addetti all’amministrazione, alle vendite, ai sistemi informativi e di sicurezza dei dati. Responsabile del trattamento è: Comunità Papa Giovanni XXIII - Via Mameli 1, 47921 Rimini (RN). Ai sensi dell’art. 7, d. lgs. 196/2003 si possono esercitare i relativi diritti, fra cui consultare, modificare, cancellare, i dati o opporsi al loro trattamento per motivi legittimi e richiedere elenco completo dei responsabili del trattamento, scrivendo al titolare all’ indirizzo postale su indicato o inviare un’ e-mail a info@localtoyou.it</p>
    </section>
  </body>
</html>
