<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fattura</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto' rel='stylesheet' type='text/css'>

    <style>
      html, body{
        margin: 0;
        padding: 0;
      }

      header{
        background-color: #8B7D80;
        text-align: center;
        padding: 16px;
        margin-bottom: 32px;
      }

      h1, h2, h3{
        font-family: 'Oswald', sans-serif;
        margin: 0;
      }

      h4, h5, p, small, th, td{
        font-family: 'Roboto', sans-serif;
        margin: 0;
      }

      table{
        border-collapse: collapse;
      }

      tr:nth-child(even){
        background-color: #dedede;
      }

      tr:nth-child(odd){
        background-color: #efefef;
      }

      thead{
        background: #8B7D80;
        color: #FFFFFF;
        text-align: left;
      }

      th{
        background: #8B7D80;
        color: #FFFFFF;
      }

      td{
        min-width: 64px;
      }

      th, td{
        padding: 8px;
      }

      .margin_small{margin-bottom:8px}
      .margin_medium{margin-bottom:16px}
      .margin_large{margin-bottom:32px}
      .fullwidth{width: 100%}
      .text-right{text-align: right;}

      .header__logo{
        height: 96px;
      }

      .info{
        text-align: right;
        padding: 0 64px;
      }

      .client{
        text-align: left;
        padding: 0 64px;
        overflow: auto;
      }

      .products{
        text-align: left;
        padding: 16px 64px;
      }

      .footer table{
        margin-right: 64px;
        text-align: right;
        border-collapse: separate;
        border-spacing: 4px;
      }

      .footer tr{
        margin-bottom: 8px;
      }

    </style>
  </head>
  <body>
    <header>
      <img class="header__logo" src="{{result.logo}}" alt="Logo LocalToYou" />
      <p style="color: white;position: absolute;top: 50px;font-size: 20px;right: 24px;">Documento Di Trasporto</p>
    </header>

    {{#each result.ordini}}
      <section class="client">
        <article>
          <h4 class="margin_small">{{this.cliente}}</h4>
          <p>{{this.indirizzoR1}}</p>
          <p>{{this.indirizzoR2}}</p>
          <p class="margin_small"></p>
        </article>
      </section>

      <section class="products">
        <table class="fullwidth">
          <thead>
            <th>Prodotto</th>
            <th>Produttore</th>
            <th class="text-right">Quantità</th>
          </thead>

          {{#each this.cassette}}
            <tr>
              <td>{{this.nome}}</td>
              <td>{{this.produttore}}</td>
              <td class="text-right">{{this.quantita}}</td>
            </tr>
          {{/each}}
        </table>
      </section>
    {{/each}}

    <section class="products">
      <table class="fullwidth">
        <thead>
          <th style="min-width: 120px">Vettore</th>
          <th>Data e ora del trasporto</th>
          <th>Firma Vettore</th>
          <th>Firma Destinatario</th>
        </thead>
        <tr style="height: 64px">
          <td style="border-right: solid 2px white;"></td>
          <td style="border-right: solid 2px white;"></td>
          <td style="border-right: solid 2px white;"></td>
          <td></td>
        </tr>
      </table>
    </section>
  </body>
</html>
