<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fattura</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto' rel='stylesheet' type='text/css'>

    <style>
      html, body{
        margin: 0;
        padding: 0;
      }

      header{
        background-color: #8B7D80;
        text-align: center;
        padding: 16px;
        margin-bottom: 32px;
      }

      h1{
        font-size: 32px;
      }

      h1, h2, h3{
        font-family: 'Oswald', sans-serif;
        margin: 0;
      }

      h4, h5, p, small, th, td{
        font-family: 'Roboto', sans-serif;
        margin: 0;
      }

      table{
        border-collapse: collapse;
      }

      thead{
        background: #8B7D80;
        color: #FFFFFF;
        text-align: left;
      }

      th{
        background: #8B7D80;
        color: #FFFFFF;
      }

      td{
        min-width: 64px;
      }

      th, td{
        padding: 8px;
      }

      .margin_small{margin-bottom:8px}
      .margin_medium{margin-bottom:16px}
      .margin_large{margin-bottom:32px}
      .fullwidth{width: 100%}

      .header__logo{
        height: 96px;
      }

      .info{
        text-align: right;
        padding: 0 64px;
      }

      .bigTitle{
        text-align: center;
      }

      .client{
        text-align: left;
        padding: 0 64px;
        overflow: auto;
      }

      .products{
        text-align: left;
        padding: 64px;
      }

      .privacy{
        text-align: left;
        padding: 64px;
        font-size: 10px;
      }

      .privacy h5{
        font-size: 14px;
      }

      .footer{
        overflow: hidden;
      }

      .footer table{
        margin-right: 64px;
        text-align: right;
        border-collapse: separate;
        border-spacing: 4px;
      }

      .footer tr{
        margin-bottom: 8px;
      }

    </style>
  </head>
  <body>
    <header>
      <img class="header__logo" src="{{result.logo}}" alt="Logo LocalToYou" />
      <p style="color: white;position: absolute;top: 50px;font-size: 20px;right: 24px;">Bolla</p>
    </header>

    <section class="info">
      <h3 class="margin_small">Mercato # {{result.id}}</h3>
      <small>{{result.data}}</small>
    </section>

    <section class="bigTitle">
      <h1>{{result.nome}}</h1>
    </section>

    <section class="products">
      <table class="fullwidth">
        <thead>
          <th>Prodotto</th>
          <th>Produttore</th>
          <th>Prezzo unitario</th>
          <th>Quantità</th>
          <th>Unità</th>
        </thead>
        {{#each result.prodotti}}

          <tr>
            <td>{{this.nome}}</td>
            <td>{{this.produttore}}</td>
            <td>{{this.prezzo}}€</td>
            <td>{{this.quantita}}</td>
            <td>{{this.unita}}</td>
          </tr>

        {{/each}}
      </table>
    </section>

    <section class="footer">
      <table align="right">
          <th>Totale</th>
          <td>{{result.totale}}€</td>
        </tr>
      </table>
    </section>

    <section class="privacy">
      <h5>Prodotto da Agricoltura Biologica</h5>
      <h5>Certificato in base al REG. 834/07 - Operatore</h5>
      <h5>Controllato: IT BIO006 H127</h5>
      <h5>Peso da verificare a destinazione</h5>
      <h5 class="margin_small">Assolve gli obblighi di cui all’art.62, comma 1, del decreto legge 24.01.2012, n.1, convertito, con modificazioni, dalla legge 24.03.2012, n.27</h5>
    </section>
  </body>
</html>
