<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fattura</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto' rel='stylesheet' type='text/css'>

    <style>
      html, body{
        margin: 0;
        padding: 0;
      }

      header{
        background-color: #8B7D80;
        text-align: center;
        padding: 16px;
        margin-bottom: 32px;
      }

      h1, h2, h3{
        font-family: 'Oswald', sans-serif;
        margin: 0;
      }

      h4, h5, p, small, th, td{
        font-family: 'Roboto', sans-serif;
        margin: 0;
      }

      table{
        border-collapse: collapse;
      }

      thead{
        background: #8B7D80;
        color: #FFFFFF;
        text-align: left;
      }

      th{
        background: #8B7D80;
        color: #FFFFFF;
      }

      td{
        min-width: 64px;
      }

      th, td{
        padding: 8px;
      }

      .margin_small{margin-bottom:8px}
      .margin_medium{margin-bottom:16px}
      .margin_large{margin-bottom:32px}
      .fullwidth{width: 100%}
      .text-right{text-align: right}

      .header__logo{
        height: 96px;
      }

      .info{
        text-align: right;
        padding: 0 64px;
      }

      .client{
        text-align: left;
        padding: 0 64px;
        overflow: auto;
      }

      .products{
        text-align: left;
        padding: 64px;
      }

      .footer table{
        margin-right: 64px;
        text-align: right;
        border-collapse: separate;
        border-spacing: 4px;
      }

      .footer tr{
        margin-bottom: 8px;
      }

    </style>
  </head>
  <body>
    <header>
      <img class="header__logo" src="{{result.logo}}" alt="Logo LocalToYou" />
      <p style="color: white;position: absolute;top: 50px;font-size: 20px;right: 24px;">Fattura</p>
    </header>

    <section class="info">
      <h3 class="margin_small">Fattura # {{result.id}}</h3>
      <small>{{result.data}}</small>
    </section>

    <section class="client">
      <article style="float:left; width:50%">
        <h3 class="margin_medium">Local To You S.r.l.</h3>
        <h4 class="margin_small">C.F./P.IVA 03538051206</h4>
        <p>Via Galileo Galilei, 24</p>
        <p class="margin_small">Mercatale di Ozzano dell'Emilia, 40064 (BO)</p>
        <p>Dati N.S. Banca: BCC Romagna Occidentale</p>
        <p class="margin_small">IT 54 D 08462 36750 000005028897</p>
        <p>Tel. 051 6515236</p>
        <p>Fax. 051 6515124</p>
        <p>info@localtoyou.it</p>
        <p>www.localtoyou.it</p>
      </article>
      <article style="float:right; width:50%">
        <h3 class="margin_medium">Cliente</h3>
        <h4 class="margin_small">{{result.cliente}}</h4>
        <h4 class="margin_small">{{result.piva}}</h4>
        <p>{{result.indirizzo}}</p>
      </article>
    </section>

    <section class="products">
      <table class="fullwidth">
        <thead>
          <th>Numero Bolla</th>
          <th>Data Bolla</th>
          <th class="text-right">Importo Bolla</th>
        </thead>
        {{#each result.bolle}}

        <tr>
          <td>{{this.id}}</td>
          <td>{{this.data}}</td>
          <td class="text-right">{{this.totale}}€</td>
        </tr>

        {{/each}}
      </table>
    </section>

    <section class="footer">
      <table align="right" style="text-align:left">
        <tr>
          <th>Totale</th>
          <td>{{result.totale}}€</td>
        </tr>
        <tr>
          <th>Tipo di pagamento</th>
          <td>Bonifico</td>
        </tr>
        <tr>
          <th>Scadenza</th>
          <td>30gg a partire dalla data di ordine</td>
        </tr>
      </table>
    </section>
  </body>
</html>
